<?xml version="1.0"?>

<model>
  <name>ur5_base</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jayasekara Kapukotuwa</name>
    <email>j.kapukotuwa@research.ait.ie</email>
  </author>

  <description>
    Stand the UR5e arm is mounted on, beside the cafe-table in the
    rl_environments UR5e Gazebo scene.
  </description>
</model>
