<?xml version="1.0"?>
<!--
  UR5e + Robotiq 2F-85 + head-mount Kinect v2.

  Kinect mounts to the URDF `world` frame (Gazebo world coordinates,
  unaffected by the arm's spawn offset). Pose mirrors RX200's
  rx200_kinect.urdf.xacro convention (camera in front, looking back
  toward the workspace), offset by the cafe-table x = 0.7 so the
  cube workspace is centred in frame.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e_robotiq_85_kinect">
  <xacro:include filename="$(find ur5e_description_extras)/urdf/ur5e_robotiq85.urdf.xacro"/>

  <xacro:include filename="$(find common_sensors)/urdf/sensors/kinect2.urdf.xacro"/>
  <xacro:kinect2 name="kinect2" parent="world">
    <origin rpy="0 0.3 3.15" xyz="2.1 -0.08 0.9"/>
  </xacro:kinect2>
</robot>
